# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

#zipped files for lambda
*.zip

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

#config data
configdata.json

#IDE files
.idea/